<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Personal - Free Bulma template</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="css/personal.css">
  <script async type="text/javascript" src="js/bulma.js"></script>
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#about">
          <span class="icon">
            <i class="fas fa-info"></i>
          </span>
          <span>About</span>
        </a>
        <a class="navbar-item" href="#services">
          <span class="icon">
            <i class="fas fa-bars"></i>
          </span>
          <span>Work Experience</span>
        </a>
        <a class="navbar-item" href="#resume">
          <span class="icon">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Resume</span>
        </a>
        <a class="navbar-item" href="#portfolio">
          <span class="icon">
            <i class="fas fa-th-list"></i>
          </span>
          <span>Portfolio</span>
        </a>
        <a class="navbar-item" href="#contact">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>Contact</span>
        </a>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Ernesto Fuentes
        </h1>
        <h2 class="subtitle is-3">
          Full Stack Web Developer
        </h2>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2">About Me</h3>
      <div class="container">
        <p>Web developer with more than <strong>3 years</strong> of well-rounded experience with a degree in the
          field of
          <strong>Computer Science</strong>, extensive knowledge of modern Web techniques.
          Looking for an opportunity to work and upgrade, as well as being involved in an organization that
          believes
          in gaining a competitive edge and giving back to the community.</p>
      </div>
    </div>

    <div class="columns is-gapless">
      <div class="column">
        <!-- Profile picture -->
        <div class="card">
          <div class='card-content is-flex is-horizontal-center'>
            <figure >
              <img src="images/profile.jpg" alt="Placeholder image" id="porfilePic">
            </figure>
            </div>
        </div>
      </div>
      <div class="column">
        <!-- Skills -->
        <div class="card">
          <div class="card-content skills-content">
            <h3 class="title is-4">Skills</h3>
            <div class="content">

              <!-- <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Java</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>JavaScript</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Node Js</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>HTML5/CSS3</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Angular</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>MySQL</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>SpringBoot</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>AWS</strong>
                      <br>
                      <progress class="progress is-primary" value="0" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article> -->
              <div class="tags are-large custom-tags">
                <span class="tag is-light">Java</span>
                <span class="tag is-light">JavaScript</span>
                <span class="tag is-light">Node.js</span>
                <span class="tag is-light">Angular</span>
                <span class="tag is-light">Spring Boot</span>
                <span class="tag is-light">HTML5</span>
                <span class="tag is-light">CSS3</span>
                <span class="tag is-light">Bulma</span>
                <span class="tag is-light">Docx4j</span>
                <span class="tag is-light">SASS/SCSS</span>
                <span class="tag is-light">Webpack</span>
                <span class="tag is-light">PostGres SQL</span>
                <span class="tag is-light">Oracle SQL</span>
                <span class="tag is-light">MySQL</span>
                <span class="tag is-light">Scrum Development</span>
                <span class="tag is-light">Postman</span>
                <span class="tag is-light">SQL Developer</span>
                <span class="tag is-light">Toad</span>
                <span class="tag is-light">WordPress</span>
                <span class="tag is-light">Amazon AWS Services</span>
                <span class="tag is-light">GitBash</span>
                <span class="tag is-light">Open Shift</span>
                <span class="tag is-light">Jenkins</span>
                <span class="tag is-light">Docker</span>
                <span class="tag is-light">Kubernetes</span>
                <span class="tag is-light">Jira</span>
                <span class="tag is-light">Confluence</span>
                <span class="tag is-light">Vim</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="section" id="services">
    <div class="section-heading">
      <h3 class="title is-2">Work History</h3>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5 text is-" >Java Cloud Engineer</h4>
              <h6>GenSpark</h4>
              <h5 class="subtitle is-6">October 2022 - Present</h5>
              ·Spring core project utilizing core features such as dependency injection and inversion of control.
              · Created scalable Spring Boot APIs that implemented create, read, update, and delete functionality while working
              with MySQL and Oracle databases.
              · Focused on Test Driven Development (TDD) and Behavioral Driven Development (BDD) while launching server
              · Jenkins pipelines.
              · Completed multiple labs using AWS Lambda, Database Storage EC2 instances and more.
              · Worked on a project utilizing Tekton Pipelines for ROSA with AWS CI/CD.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Application Developer</h4>
              <h6>ADP</h4>
                <h5 class="subtitle is-6">January 2021 - June 2022</h5>
              · Developed enterprise financial and human resources based applications
              · Operated via agile development sprints
              · worked with teams of developers and collaborated with product owners to meet sprint requirements.
              · developed in Java backend, sql database, and Java script front end
              · Performed data analysis and interpretation with SQL
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Field Coordinator at Voxel Maps</h4>
              · Member of the Atlanta and New York management team for Apple Maps Pedestrian collection pilot program.
              · Managed 25 surveyors in image data collection in the greater Atlanta area and In New York city .
              · Coordinated logistics for hardware and surveyors’ transportations and hardware storage
              · Reported status to Apple and Tech Mahindra management.
              · Assisted in trouble shooting hardware on sight in the Atlanta team and remotely for the New York team’s.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Data Analysis at Communidad Connect</h4>
              ● Analyze Data for community projects provided by Communidad Connect
              ● From the Data, Constructed Trends and analyzed the impact of the projects and their impact on the community.
              ● Compiled and formatted the data to be presented to shareholder and investors of the company.
              ● Performed forecasting and data analyses using Python and SQL.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Resume -->
  <section class="section" id="resume">
    <div class="section-heading">
      <h3 class="title is-2">Resume</h3>
      <a href="resume/Ernesto-Fuentes-Resume.docx.pdf" class="button is-link is-medium">
        <span class="icon">
          <i class="fas fa-file-alt"></i>
        </span>
        <span>Download My Resume</span>
      </a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="section" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Portfolio</h3>
        <h4 class="subtitle is-5">My latest works</h4>
      </div>
      <br>

      <div class="container portfolio-container">
        <div class="columns">
          <div class="column is-4">
            <!-- admin -->
            <!-- <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Admin <small>(Light)</small></span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/admin.png" alt="Admin template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/admin.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/admin.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div> -->
            <!-- cards -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/cards.png" alt="Cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cards.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- forum -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Forum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/forum.png" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/forum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/forum.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- insta album -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>InstaAlbum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/instaalbum.png" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/instaAlbum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/instaAlbum.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- landing -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Landing</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/landing.png" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/landing.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>

          </div>
          <div class="column is-4">
            <!-- band -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Band</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/band.png" alt="Band template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/band.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/band.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cheatsheet -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cheatsheet</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/cheatsheet.png" alt="Cheatsheet template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cheatsheet.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cheatsheet.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- hero -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Hero</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/hero.png" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/hero.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/hero.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/kanban.png" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- login -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Login</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/login.png" alt="Login template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/login.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/login.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <!-- blog -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Blog</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/blog.png" alt="Blog template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/blog.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/blog.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cover -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cover</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/cover.png" alt="Cover template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cover.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cover.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--inbox -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Inbox</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/inbox.png" alt="Inbox template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/inbox.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/inbox.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban with functional search-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban with Search box</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/kanban2.png" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban[search].html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban[search].html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--tabs-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Modal Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/modalcards.png" alt="modal-cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/modal-cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/modal-cards.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Contact -->
  <section class="section" id="contact">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Contact Information</h3>
        <h4 class="subtitle is-5"></h4>
      </div>
      <br>

      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="box">
            <div class="card-content">
              <div class="content">
                <table class="table-profile">
                  <tr>
                    <th colspan="1"></th>
                    <th colspan="2"></th>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td>678-469-5637</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>earnestofuentes@gmail.com</td>
                  </tr>
                </table>
              </div>
              <br>
              <div class="buttons has-addons is-centered">
                <a href="https://github.com/efuente2" class="button is-link">Github</a>
                <a href="www.linkedin.com/in/ernesto---fuentes" class="button is-link">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</body>

</html>
